.links-nav{
    list-style-type: none;
    display: inline-block;
    width: 100%;
}
.links-nav li {
    display: inline-block;
    width: 200px;
}
.section1 {
    width: fit-content;
    display: inline-block;
}
table, td{
    border: solid 1px black;
}