h1{
    font-family: sans-serif;
    line-height: 60%;
}
p{
    font-weight: 600;
    font-style: italic;
}
body{
    font-size: 16px;
}
p{
    font-size: 3em;
    text-align: center;
    text-decoration: overline;   
}    
#yel {
    background-color: yellow;
}
#r {
    background-color: red;
}
#brown{
      background-color: brown;  
}