ol li {
    background-color: yellow;
}
ol li.par{
    color: green;;
}
ol li.impar{
    text-transform: uppercase;
}
h1 , h2 em {
    color: red;
    font-size: 40px;
    border: 1px solid black;
}
li {
    font-size: 20px;
}
li em {
    font-weight: bold;
}
div ul li:first-of-type, :nth-of-type(2),:nth-of-type(3) {
    color: blue;
}
.java{
    background-color: pink;   
}
.sites ul li a:first-of-type:hover{
    color: orange;
    font-weight: bold ;
} 
.sites ul li a:nth-of-type(2):hover{
    color: green;
    font-weight: bold;
}
.sites ul:nth-of-type(3):hover{
    color: black;
    font-weight: bold;
}
.sites ul:nth-of-type(4):hover{
    color: yellow;
    font-weight: bold;
}
.sites ul:nth-of-type(5):hover{
    color: green;
    font-weight: bold;
}